<h1>Page principale</h1>
<div>
    <h2>Utilisateurs</h2>
    {% if userList %}
    <ul>
        
        {% for user in userList %}
            <li>
                <a href="user/{{user.id}}">{{user.username}} | {{user.id}}
                </a>
            </li>
        {% endfor %}
            
    </ul>
{% else %}
    <p>No user found</p>
{% endif %}
    
</div>
<div>
    <h2>Personnages</h2>
    {% if characterList %}
        <ul>
            
            {% for character in characterList %}
                <li>
                    <a href="character/{{character.id}}">{{character.character_name}} | {{character.id}}
                    </a>
                </li>
            {% endfor %}
                
        </ul>
    {% else %}
        <p>No character found</p>
    {% endif %}
        
</div>
